* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2", cursive;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  .section-heading {
    font-family: "Oswald", sans-serif;
    font-size: 10rem;
    font-weight: 300;
    color: #ddd;
    margin-right: 4rem;
  }
  
  .section-heading-line {
    width: 15rem;
    height: 0.2rem;
    background-color: #ddd;
  }
  .navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: -8rem;
    z-index: 10;
    padding: 3rem;
    transition: height 0.5s;
    animation: animateNavbar 0.2s 0.5s forwards;
  }
  
  @keyframes animateNavbar {
    0% {
      top: -9rem;
    }
    100% {
      top: 0;
    }
  }
  
  .navbar.change {
    height: 100vh;
  }
  
  .logo {
    width: 300px;
    position: absolute;
    top: 1.5rem;
    left: 4rem;
  }
  
  .logo a {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 2.5rem;
    color: #eee;
    letter-spacing: 0.1rem;
  }
  
  .logo span {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #9e0e09;
  }
  
  .nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }
  
  .change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
  }
  
  .nav-link {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: #fff;
    margin: 2rem 0;
    transition: color 0.4s;
  }
  
  .nav-link:hover {
    color: #9e0e09;
  }
  /* End of Navbar */
  
  /* Menu */
  .menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
    transition: transform 0.3s;
  }
  
  .line-1 {
    width: 50%;
  }
  
  .change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
  }
  
  .line-3 {
    width: 50%;
    margin-left: auto;
  }
  
  .change .line-3 {
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
  }
  /*End of Menu */
  
  /* Section 1 */
  .section-1 {
    width: 100%;
    height: 85vh;
    background: url(../Photos/Dark\ Grey\ Minimalist\ Photo\ Travel\ YouTube\ Thumbnail\ \(1\).png) no-repeat;
 
    background-size: cover;
    position: relative;
  }
  
  .banner {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
  }
  
  .banner-heading {
    margin-bottom: 4rem;
    height: 20rem;
    perspective: 50rem;
    overflow: hidden;
  }
  
  .banner-heading span {
    font-family: "Oswald", sans-serif;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  
  .heading-1 {
    animation: animateHeading 8s 2s infinite;
  }
  
  .heading-2 {
    animation: animateHeading 8s 4s infinite;
  }
  
  .heading-3 {
    animation: animateHeading 8s 6s infinite;
  }
  
  .heading-4 {
    animation: animateHeading 8s 8s infinite;
  }
  
  @keyframes animateHeading {
    0% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 3rem;
    }
    3% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1.5rem;
    }
    25% {
      transform: translateZ(0);
      opacity: 1;
      letter-spacing: 1.5rem;
    }
    28% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 3rem;
    }
    100% {
      transform: translateZ(8rem);
      opacity: 0;
      letter-spacing: 3rem;
    }
  }
  
  .banner-paragraph {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #ff0000;
    background-color: rgba(0, 0, 0, 0.477);
    width: 30%;
    margin: 0 auto 4rem auto;
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
  }
  
  .banner-btn {
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 0.1rem solid #800505;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
    text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
    position: relative;
    overflow: hidden;
  }
  
  .banner-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
  }
  
  .banner-btn:hover::before {
    left: 100%;
  }
  
  @keyframes fadeAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  /* End of Section 1 */
  
  
  /* End of Section 4 */
  
  /* Footer */
  .footer {
    width: 100%;
    height: 12rem;
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
  }
  
  .footer-nav a {
    font-family: "MADE Soulmaze", sans-serif;
    font-size: 2rem;
    color: #ccc;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #862323;
  }
  
  .copyright {
    font-size: 2rem;
    color: #ddd;
  }
  /* End of Footer */
  
  /* Responsive */
  @media (max-width: 1800px) {
    .video-wrapper {
      width: 90rem;
      height: 45rem;
      right: 10rem;
    }
  
    .section-2-paragraph {
      width: 90rem;
      right: 10rem;
    }
  
    .section-3 .section-heading-line {
      margin-right: 3rem;
    }
  }
  
  @media (max-width: 1650px) {
    html {
      font-size: 57%;
    }
  
    .video-wrapper {
      width: 85rem;
      height: 40rem;
      right: 5rem;
    }
  
    .section-2-paragraph {
      width: 85rem;
      right: 5rem;
      bottom: 10rem;
    }
  }
  
  @media (max-width: 1500px) {
    .section-heading-line {
      display: none;
    }
  }
  
  @media (max-width: 1400px) {
    html {
      font-size: 45%;
    }
  
    .banner-heading span {
      font-size: 10rem;
    }
  
    .banner-paragraph {
      width: 45rem;
      font-size: 3rem;
      
    }
  
    .section-2,
    .section-3,
    .section-4 {
      flex-direction: column;
    }
  
    .section-2 {
      height: 120vh;
    }
  
    .video-wrapper {
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: 80rem;
    }
  
    .section-2-paragraph {
      left: 50%;
      transform: translateX(-50%);
      width: 80rem;
    }
  
    .section-3 {
      height: auto;
      padding: 5rem 0 10rem 0;
    }
  
    .section-3 .section-heading {
      margin-bottom: 7rem;
    }
    .swiper-container {
      width: 100%;
    }
  
    .section-4 {
      height: auto;
      padding: 5rem 0;
    }
  }
  
  @media (max-width: 900px) {
    html {
      font-size: 40%;
    }
  
    .banner {
      top: 25%;
    }
  
    .banner-heading {
      height: 15rem;
    }
  
    .banner-heading span {
      font-size: 8rem;
    }
  
    .footer {
      padding: 0 5rem;
    }
  
    .footer-nav a {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 700px) {
    html {
      font-size: 35%;
    }
  
    .section-2 {
      height: 100vh;
    }
  
    .contact-details div {
      margin: 3rem 2rem;
    }
  
    .footer {
      flex-direction: column;
      justify-content: center;
    }
  
    .footer-nav {
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 30%;
    }
  
    .banner-heading span {
      font-size: 4.5rem;
      letter-spacing: 2rem;
    }
  
    @keyframes animateHeading {
      0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
      }
      3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1rem;
      }
      25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1rem;
      }
      28% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
      }
      100% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 2rem;
      }
    }
  
    .video-wrapper {
      width: 60rem;
    }
  
    .section-2-paragraph {
      width: 60rem;
    }
  
    .contact-details div {
      width: 18rem;
      margin: 3rem 1rem;
    }
  
    .contact-form {
      width: 60rem;
    }
  }
  /* End of Responsive */
  /* From Uiverse.io by cssbuttons-io */ 
/* From Uiverse.io by cssbuttons-io */ 
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
   
.locolimg{
  height: 70px;
  width: 70px;
  margin-top: -20px;
}






  